body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #a7a0a0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.header {
    background-color: #18191a;
    color: white;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header h1 {
    margin: 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.gallery img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.gallery-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
    }
}
@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%;
    }
}
footer {
    background-color: #343a40;
    color: #fff;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
}
